<table class='table table-striped'>
  <thead>
    <tr>
      <th>Batch</th>
      <th>Submit date</th>
      <th>Created by</th>
      <th>Report email</th>
      <th>Batch type</th>
      <th>Bookplate druid</th>
      <th>Filename</th>
      <th>Ckey count</th>
      <th>Completed date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @digital_bookplates_batches.each do |b| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td><%= b.batch_id.to_i %></td>
        <td><%= b.submit_date.strftime('%b-%d-%Y %l:%M %p') %></td>
        <td><%= b.user_name %></td>
        <td><%= b.user_email %></td>
        <td><%= b.batch_type %></td>
        <td><%= b.druid %></td>
        <td><%= b.file %></td>
        <td><%= b.ckey_count %></td>
        <% if b.completed_date.nil? %>
          <td></td>
          <td><%= link_to 'Delete', digital_bookplates_batch_path(id: b.batch_id), method: 'delete', class: 'btn btn-md btn-primary btn-full' %></td>
        <% else %>
          <td><%= b.completed_date.strftime('%b-%d-%Y %l:%M %p') %></td>
          <td></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
