<div class="home-page-section">
  <h1>Digital Bookplates</h1>
  <% if can? :read, DigitalBookplatesBatch %>
  <h3>What would you like to do? </h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
         Upload a file of ckeys
       </a>
      </h4>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <li><%= link_to 'Add digital bookplate metadata to Symphony records', add_batch_new_digital_bookplates_batch_path %></li>
        <% if /A/ === current_user.digital_bookplates %>
          <li><%= link_to 'Delete digital bookplate metadata from Symphony records', delete_batch_new_digital_bookplates_batch_path %></li>
        <% end %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Show submitted batches
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <li><%= link_to 'Show batches in queue', queue_digital_bookplates_batches_path %></li>
          <li><%= link_to 'Show completed batches', completed_digital_bookplates_batches_path %></li>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="btn-group">
  <%= main_menu_button %>
</div>
<% else %>
<p><%= link_to "Please login", root_path %></p>
<% end %>
