<h1>Thank you for submitting your data request to SSRC.</h1>
<p>
  <b>Requestor:</b> <%= @ssds_request.name %>
</p>
<p>
  <b>Dataset type:</b> <%= @ssds_request.dataset_type %>
</p>
<p>
  <b>Dataset number:</b> <%= @ssds_request.call_no_in %>
</p>
<p>
  <b>Dataset title:</b> <%= @ssds_request.title_in %>
</p>
<p>
  <b>Catalog key:</b> <%= @ssds_request.unicorn_id_in %>
</p>
<p>
  <b>Notes:</b> <%= @ssds_request.notes %>
</p>
<hr />
<div>
  <p>
    Datasets listed in SearchWorks or the ICPSR data archive are routinely available within 1-3 working days. Datasets from ROPER or other sources can take a week or more to arrive depending on the data provider.
  </p>
  <p>
  You will be notified by email when your dataset is available.
  </p>
  <p>
    If you have questions, please <%= mail_to 'consult-data@lists.stanford.edu', 'Contact SSRC' %>.
  </p>
  <p>
    Return to <%= link_to 'SearchWorks', "#{Settings.searchworks_url}/#{@ssds_request.unicorn_id_in}" %>
  </p>
</div>
