<h2>Accession numbers by location</h2>
<%= render partial: 'accession_num_message' %>
<h3><%= @location.pluck(:location)[0] %></h3>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>Resource Type</th>
      <th>Type of Material</th>
      <th>Accession Number Prefix</th>
      <th>Current Accession Number</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @location.each do |x| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td><%= x.resource_type %></td>
        <td><%= x.item_type %></td>
        <td><%= x.prefix %></td>
        <td><%= x.seq_num.to_i %></td>
        <td><%= link_to 'Get number', generate_number_form_accession_number_path(x.id), class: 'btn btn-md btn-primary btn-full' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: 'accession_number_footer' %>
