<h2>Accession numbers by location</h2>
<%= render partial: 'accession_num_message' %>
<h3><%= @location.pluck(:location)[0] %></h3>
<table class='table table-striped'>
  <thead>
    <tr>
      <th class='col-xs-1'>Resource Type</th>
      <th class='col-xs-2'>Type of Material</th>
      <th class='col-xs-3'>Accession Number Prefix</th>
      <th class='col-xs-4'>Current Accession Number</th>
    </tr>
  </thead>
  <tbody>
    <% @location.each do |x| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td class='col-xs-1'><%= x.resource_type %></td>
        <td class='col-xs-2'><%= x.item_type %></td>
        <td class='col-xs-3'><%= x.prefix %></td>
        <td class='col-xs-4'><%= x.seq_num.to_i %></td>
        <td><%= link_to 'Get number', generate_number_accession_number_path(:id => x.id), class: 'btn btn-md btn-primary btn-full' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render partial: 'accession_number_footer' %>
