<h2>Shelf Selection Report Request</h2>
<%= form_for @shelf_selection_report, class: 'form-group' do |f| %>
  <% if @shelf_selection_report.errors.any? %>
    <div id="error-explanation">
      <ul>
        <% @shelf_selection_report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class='panel panel-default col-sm-10'>
    <div class='panel-body'>
      <p>Optionally intialize the fields on this page with previously saved selection criteria. Or, <%= link_to 'refresh the page to reset fields.', new_shelf_selection_report_path %></p>
      <%= f.select :search_name, ShelfSelSearch.saved_cursors(current_user.user_id), { prompt: '[Load saved criteria]' }, class: 'form-control' %>
    </div>
    <% ShelfSelSearch.where(user_name: current_user.user_id).each do |search| %>
      <%= link_to "Delete selected search", '#', id: "#{search.search_name.gsub(' ', '_')}#{current_user.user_id}", style: 'display:none;' %>
    <% end %>
  </div>
<div>
  <%= render 'shared/enter_email', f: f %>
  <div class='form-group row pad'>
    <%= f.label :lib, 'Select Library:', class: 'col-sm-5 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :lib, UniLibsLocs.libraries, { selected: 'GREEN' }, { class: 'form-control' } %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :loc_array, 'Select Home Location(s) from the list below after selecting library above:', class: 'col-sm-10 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :loc_array, UniLibsLocs.home_locations_from('GREEN'), {}, { multiple: true, class: 'form-control' } %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :cloc_diff, 'Exclude items with Current Location different from Home Location', class: 'col-sm-10 form-control-label' do %>
      <%= f.check_box :cloc_diff %>
      Exclude items with Current Location different from Home Location
    <% end %>
  </div>
  <%= render 'shared/circulation_statistics_report_formats', f: f %>
  <div class='form-group row'>
    <%= f.label :itype_array, 'Select the item types to include:', class: 'col-sm-10 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :itype_array, ShelfSelectionItemType.item_types, { selected: 'All Item Types' }, { multiple: true, class: 'form-control' } %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :icat1_array, 'Select the item category1s to include:', class: 'col-sm-10 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :icat1_array, ShelfSelItemCat1.item_category1s, { selected: 'All Item Category1s' }, { multiple: true, class: 'form-control' } %>
    </div>
  </div>
  <div class='form-group row'>Leave any text input fields below blank to not filter by those conditions</div>
  <div class='form-group row'>
    <%= f.label :lang, 'Include only titles with language code(s) (For multiple codes, separate with commas.):', class: 'col-sm-10 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field :lang, class: 'input-mini' %>
      <%= link_to 'Language codes list', 'http://www.loc.gov/marc/languages/language_code.html' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :min_yr, 'Exclude items created before:', class: 'col-sm-3 form-control-label' %>
    <div class='col-sm-13'>
      <%= f.text_field :min_yr, class: 'input-mini inline' %>
      Enter 4-digit years in these fields.
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :max_yr, 'Exclude items created after:', class: 'col-sm-3 form-control-label' %>
    <div class='col-sm-13'>
      <%= f.text_field :max_yr, class: 'input-mini' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :min_circ, 'Exclude items with Circulation Count below:', class: 'col-sm-4 form-control-label' %>
    <div class='col-sm-13'>
      <%= f.text_field :min_circ, class: 'input-mini' %>
      Circulation count includes charges and in-house use.
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :max_circ, 'Exclude items with Circulation Count above:', class: 'col-sm-4 form-control-label' %>
    <div class='col-sm-13'>
      <%= f.text_field :max_circ, class: 'input-mini' %>
    </div>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :shadowed, ShelfSelectionReport.generic_options, { selected: '2' }, class: 'form-control' %>
    </div>
    <%= f.label :shadowed, 'if the item is Shadowed.', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :digisent, ShelfSelectionReport.generic_options, { selected: '0' }, class: 'form-control' %>
    </div>
    <%= f.label :digisent, 'if item has Category2 DIGI-SENT.', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :url, ShelfSelectionReport.generic_options, { selected: '0' }, class: 'form-control' %>
    </div>
    <%= f.label :url, 'if title has Full Text URL.', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :mhlds, ShelfSelectionReport.generic_options, { selected: '0' }, class: 'form-control' %>
    </div>
    <%= f.label :mhlds, 'if title has MHLD(s).', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :has_dups, ShelfSelectionReport.generic_options, { selected: '0' }, class: 'form-control' %>
    </div>
    <%= f.label :has_dups, 'if title has Items Elsewhere (copies/volumes at other libraries or not-selected locations in same library)', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :multvol, ShelfSelectionReport.generic_options, { selected: '0' }, class: 'form-control' %>
    </div>
    <%= f.label :multvol, 'if title has Multiple Volumes at the selected library/locations(s).', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <div class='col-sm-2'>
      <%= f.select :multcop, ShelfSelectionReport.generic_options, { selected: '0' }, class: 'form-control' %>
    </div>
    <%= f.label :multcop, 'if title has Multiple Copies (of the same volume) at the selected library/locations(s).', class: 'col-sm-13 form-control-label' %>
  </div>
  <div class='form-group row'>
    <%= f.label :no_boundw, 'Exclude Bound-With Child items', class: 'col-sm-10 form-control-label' do %>
      <%= f.check_box :no_boundw, id: 'noboundw', checked: 'checked' %>
      Exclude Bound-With Child items
    <% end %>
  </div>
  <div class='form-group row'><strong>Type of Call Number selection to use in the report:</strong> <em>(See bottom of page for examples of call number options)</em></div>
  <div class='form-group row'>
    <%= f.label :range_type, 'LC Letters Range: All LC call numbers beginning with specified letter(s) or range of letters', class:'col-sm-10 form-control-label' do %>
        <%= f.radio_button :range_type, 'lc', { checked: 'checked', onChange: '$("input[id*=\'_call_\']").val("")' } %>
        LC Letter Range: All LC call numbers beginning with specified letter(s) or range of letters
    <% end %>
    <%= f.label :range_type, 'Classic Selection: LC numerical range all beginning with same letter(s), or any range of Dewey numbers', class:'col-sm-10 form-control-label' do %>
      <%= f.radio_button :range_type, 'classic', { onChange: '$("input[id*=\'_call_\']").val("")' } %>
      Classic Selection: LC numerical range all beginning with same letter(s), or any range of Dewey numbers
    <% end %>
    <%= f.label :range_type, 'Other call numbers: All that are neither LC nor Dewey, optionally filtered by start of call number', class:'col-sm-10 form-control-label' do %>
      <%= f.radio_button :range_type, 'other', { onChange: '$("input[id*=\'_call_\']").val("")' } %>
      Other call numbers: All that are neither LC nor Dewey, optionally filtered by start of call number
    <% end %>
  </div>
  <!-- bunch of javascript to show some fields depending on the range_type -->
  <div>
    <div id='classic-call-alpha-label' style='display:none;'>
      <p>Enter the LC or Dewey call number range to select.</p>
      <%= f.label :call_alpha, '1 to 3 letters at start of LC call number. Leave blank for Dewey. (Letters only):', class: 'form-control-label form-inline' %>
    </div>
    <div id='classic-call-alpha-form-element' style='display:none;'>
      <%= f.text_field :call_alpha, class: 'input-mini' %>
    </div>

    <div id='lc-call-lo-label'>
      <%= f.label :call_lo, '<em>Enter a letter or letter range to select all LC call numbers within that range</em>.
      <br />Lowest letter or letters of LC call number range. One or two letters required. <br /><sub>Use \'#\' symbol
      to restrict range to only call numbers beginning with this letter or letters</sub>'.html_safe, class: 'form-control-label' %>
    </div>
    <div id='classic-call-lo-label' style='display:none;'>
      <%= f.label :call_lo, 'Lowest number of call number range. Maximum 4 digits for LC, 3 digits for Dewey.', class: 'form-control-label' %>
    </div>
    <div id='lc-classic-call-lo-form-element'>
      <%= f.text_field :call_lo, class: 'input-mini' %>
    </div>
    <div id='lc-call-hi-label'>
      <%= f.label :call_hi, 'Highest letter or letters of LC call number range, or leave blank for entire range of letters entered as Lowest.', class: 'form-control-label' %>
    </div>
    <div id='classic-call-hi-label' style='display:none;'>
      <%= f.label :call_hi, 'Highest number of call number range. All decimal extensions of entered number will be included in report. Digits only, no decimal.', class: 'form-control-label' %>
    </div>
    <div id='other-call-hi-label' style='display:none;'>
      <%= f.label :call_hi, 'Enter start of call number for all non-LC/Dewey call numbers starting with this value (not case sensitive).
      <br /><sub>Leave blank to select all non-LC/Dewey call numbers.</sub>'.html_safe, class: 'form-control-label' %>
    </div>
    <div>
      <%= f.text_field :call_hi, class: 'input-mini' %>
    </div>
  </div>
  <P>
  <div class='form-group row'>
    <%= f.label :subj_name, 'Name of this report\'s selection criteria. Leave blank to not use.', class: 'col-sm-10 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field :subj_name, class: 'form-control' %>
      <em>The control allows entering up to 80 characters.</em>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :save_opt, 'Use as email subject and name of saved criteria.', class:'col-sm-5 form-control-label' do %>
      <%= f.radio_button :save_opt, 'save', checked: true %>
      Use as email subject and name of saved criteria.
    <% end %>
    <%= f.label :save_opt, "Use as email subject only, don't save.", class:'form-control-label' do %>
      <%= f.radio_button :save_opt, 'nosave' %>
      Use as email subject only, don't save.
    <% end %>
  </div>
    <%= f.hidden_field :user_id, value: "#{current_user.user_id}" %>
  <div><%= f.submit 'Submit', class: 'btn btn-md btn-default  btn-full' %></div>
</div>
<% end %>
<div class="btn-group pad">
  <%= main_menu_button %>
</div>
<HR>
<%= render 'shared/call_number_range_examples' %>
