<h2>Change Item Type Request Form</h2>
<%= form_for @change_item_type, multipart: true, class: 'form-group' do |f| %>
  <% if @change_item_type.errors.any? %>
    <div id="error-explanation">
      <ul>
      <% @change_item_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='form-group row'>
    <%= f.label :current_library, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :current_library, options_from_collection_for_select(UnicornPolicy.libraries, 'name', 'name'), { include_blank: true }, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :new_item_type, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :new_item_type, options_from_collection_for_select(UnicornPolicy.item_types, 'name', 'name'), { include_blank: true }, class: 'form-control' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :item_ids, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.file_field 'item_ids', class: 'form-control-file' %>
    </div>
  </div>
  <div class='form-group row', class: 'col-sm-2 form-control-label'>
    <%= f.label 'Email (optional)', class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'email', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :comments, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_area 'comments', class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :batch_date, value: Time.now.strftime("%d-%b-%y").upcase %>
  <%= f.hidden_field :user_name, value: current_user.user_id %>
  <%= f.hidden_field :action, value: 'UPDITEMTYPE' %>
  <%= f.hidden_field :priority, value: 3 %>
  <%= f.hidden_field :export_yn, value: 'SocI' %>
  <!-- new_lib -->
  <!-- new_homeloc -->
  <!-- new_curloc -->
  <%= f.hidden_field :check_bc_first, value: 'N' %>
  <div><%= f.submit 'Upload batch', class: 'btn' %></div><br/>
<% end %>
<div class="btn-group">
  <%= main_menu_button %>
  <%= batch_menu_button %>
</div>
