<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @uni_updates_batch.uni_updates.count %> barcodes entered into the batch update table with values:</h1>
    <p>Batch id: <%= @uni_updates_batch.batch_id %></p>
    <p>Requested action: <%= @uni_updates_batch.action %></p>
    <p>Batch comments: <%= @uni_updates_batch.comments %></p>
    <p>Current library: <%= @uni_updates_batch.orig_lib %></p>
    <p>New library: <%= @uni_updates_batch.new_lib %></p>
    <p>New home location: <%= @uni_updates_batch.new_homeloc %></p>
    <p>New current location: <%= @uni_updates_batch.new_curloc %></p>
    <p>New item type: <%= @uni_updates_batch.new_itype %></p>
  </body>
</html>
