<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1>Dataset requested from SSRC</h1>
  <p>
    <b>Name:</b> <%= @ssds_request.name %>
  </p>
  <p>
    <b>SUNet ID:</b> <%= @ssds_request.sunet %>
  </p>
  <p>
    <b>Affiliation:</b> <%= @ssds_request.affiliation %>
  </p>
  <p>
    <b>Department:</b> <%= @ssds_request.department %>
  </p>
  <p>
    <b>Phone:</b> <%= @ssds_request.phone %>
  </p>
  <p>
    <b>Sponsor:</b> <%= @ssds_request.sponsor %>
  </p>
  <p>
    <b>Catalog key:</b> <%= @ssds_request.unicorn_id_in %>
  </p>
  <p>
    <b>Dataset number:</b> <%= @ssds_request.call_no_in %>
  </p>
  <p>
    <b>Dataset type:</b>  <%= @ssds_request.dataset_type %>
  </p>
  <p>
    <b>Notes:</b>  <%= @ssds_request.notes %>
  </p>
</body>
</html>
