<% content_for :javascript_includes do %>
  <%= javascript_include_tag "package_files.js" %>
<% end %>
<h1>Files ready to load</h1>

<div class ='nav-buttons'>
  <ul class='nav nav-pills'>
    <li><%= link_to 'Add package', new_package_path, class: 'btn btn-md btn-default btn-full' %></li>
    <li><%= link_to 'Package list', packages_path, class: 'btn btn-md btn-default  btn-full' %></li>
    <li><%= link_to 'Run tests', run_tests_packages_path, class: 'btn btn-md btn-default btn-full' %></li>
    <li><%= link_to 'Exclude URL List', url_exclusions_path, class: 'btn btn-md btn-default btn-full' %></li>
  </ul>
</div>

<table class='table table-striped'>
  <thead>
    <tr>
      <th>Package ID</th>
      <th>Vendor</th>
      <th>File Name</th>
    </tr>
  </thead>
  <tbody>
    <% @files.each do |file| %>
      <tr>
        <td><%= file.package_id %></td>
        <td><%= file.vendor_name %></td>
        <td><%= file.new_file_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
