<div class="home-page-section">
  <h1>EDIFACT invoice management</h1>
    <div id="new-modal-window" class="modal fade modal-content" role="dialog"
         aria-labelledby="excludeInvoice" aria-hidden="true"></div>
    <h3>What would you like to do? </h3>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% if can? :manage, EdiInvoice %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                Updates
            </h4>
          </div>
          <div>
            <%= render partial: 'edi_updates_menu' %>
          </div>
        </div>
      <% end %>
      <% if can? :read, EdiInvoice %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title link">
              <%= link_to "View errors", edi_error_reports_path %>
          </h4>
        </div>
        <div>
          <%= render partial: 'edi_errors_links' %>
        </div>
      </div>
      <% end %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title link">
            <%= link_to "View invoices", edi_invoices_path %>
          </h4>
        </div>
      </div>
    </div>
    <div class="btn-group">
      <%= main_menu_button %>
    </div>
  </div>
