<% content_for :javascript_includes do %>
    <%= javascript_include_tag 'lobbytrack_reports.js' %>
<% end %>
<div class="home-page-section">
  <h1>Visits within a date range: <%= @dates %></h1>
  <div>
    <div class="btn-group">
      <%= link_to button_tag('LobbyTrack reports', class: 'btn btn-md btn-default btn-full'), lobbytrack_reports_path %>
    </div>
    <div class="btn-group">
      <%= main_menu_button %>
    </div>
  </div>
  <h2><%= @lobbytrack_reports.size %> Visits</h2>
  <div>
    <table class='table table-striped'>
      <thead>
      <tr>
        <th>
          Cardholder ID
        </th>
        <th>
          Visit date
        </th>
        <th>
          First name
        </th>
        <th>
          Last name
        </th>
        <th>
          Email address
        </th>
      </tr>
      </thead>
      <tbody>
      <% @lobbytrack_reports.each_with_index do |row| %>
          <tr>
            <td>
              <%= row['CardHolderID'] ? (link_to row['CardHolderID'], lobbytrack_reports_visits_path(lobbytrack_report: {visit_id: row['CardHolderID']}), method: :post) : '' %>
            </td>
            <td>
              <%= row['DateIn'] ? row['DateIn'].strftime('%F %R') : '' %>
            </td>
            <td>
              <%= row['ReportField1'] ? row['ReportField1'] : '' %>
            </td>
            <td>
              <%= row['ReportField2'] ? row['ReportField2'] : '' %>
            </td>
            <td>
              <%= row['LookupField1'] ? row['LookupField1'] : '' %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<p />
<div>
  <div class="btn-group">
    <%= link_to button_tag('LobbyTrack reports', class: 'btn btn-md btn-default btn-full'), lobbytrack_reports_path %>
  </div>
  <div class="btn-group">
    <%= main_menu_button %>
  </div>
</div>
