<h1>ILLiad User Export</h1>
<h3>Instructions</h3>
<ul>
  <li>Enter the sunet id or ids in the text field.</li>
  <li>IDs should be entered one per line.</li>
  <li>The export runs every three hours between 9am and 6pm.</li>
</ul>
<%= form_for(@illiad_user_export) do |f| %>
  <% if @illiad_user_export.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @illiad_user_export.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sunet_ids %><br>
    <%= f.text_area :sunet_ids, :cols => 10, :rows => 10  %>
  </div>
  <p>
  <div class="btn-group">
    <%= f.submit 'Submit IDs for Export', class: 'btn btn-md btn-default btn-full' %>
  </div>

<% end %>
<p>
<div class="btn-group">
  <%= main_menu_button %>
</div>
