<h3><%= @uni_updates_batch.uni_updates.count %> barcodes entered to batch update table with values:</h3>
<ul class="list-group">
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.batch_id %></span>
    Batch id:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.action %></span>
    Requested action:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.comments %></span>
    Batch comments:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.orig_lib %></span>
    Current library:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.new_lib %></span>
    New library:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.new_homeloc %></span>
    New home location:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.new_curloc %></span>
    New current location:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.new_itype %></span>
    New item type:
  </li>
  <li class="list-group-item">
    <span class="label label-default label-pill pull-right"><%= @uni_updates_batch.user_email %></span>
    Email for status reports:
  </li>
</ul>
<div>If you made a mistake, you may delete this batch from the table by clicking on "Erase". Otherwise, you are finished!</div><lb/>
<p/>
<div class="btn-group">
  <%= delete_batch_button %>
  <%= batch_menu_button %>
</div>
