<div class='container'>
  <div class='form-group'>
    <%= f.label :date_type, 'Range of dates to include:', class: 'col-sm-10 form-control-label' %>
    <div id='tab' class='col-sm-10'>
      <p>
        <%= f.radio_button :date_type, true, {'href' => '#fiscal', 'data-toggle' => 'tab'} %>
        Fiscal year
      </p>
      <p>
        <%= f.radio_button :date_type, false, {'href' => '#calendar', 'data-toggle' => 'tab'} %>
        Calendar year
      </p>
      <p>
        <%= f.radio_button :date_type, false, {'href' => '#paydate', 'data-toggle' => 'tab'} %>
        Pay date to Accounts Payable
      </p>
    </div>
  </div>
  <div class='tab-content'>
    <div class='tab-pane active' id='fiscal'>
      <div class='form-group'>
        <div class='col-sm-3'>
          <%= f.select :fy_start, options_for_select(ExpendituresPaydates.fiscal_years.map{ |d| [ "FY #{d}" ] }), {prompt: 'FY Start'}, {class: 'form-control'} %>
        </div>
        <div class='col-sm-3'>
          <%= f.select :fy_end, options_for_select(ExpendituresPaydates.fiscal_years.map{ |d| [ "FY #{d}" ] }), {prompt: 'FY End'}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class='tab-pane' id='calendar'>
      <div class='form-group'>
        <div class='col-sm-3'>
          <%= f.select :cal_start, options_for_select(ExpendituresPaydates.calendar_years.map{ |d| [ d ] }), {prompt: 'Start Year'}, {class: 'form-control'} %>
        </div>
        <div class='col-sm-3'>
          <%= f.select :cal_end, options_for_select(ExpendituresPaydates.calendar_years.map{ |d| [ d ] }), {prompt: 'End Year'}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
    <div class='tab-pane' id='paydate'>
      <div class='form-group'>
        <div class='col-sm-3'>
          <%= f.select :pd_start, options_for_select(ExpendituresPaydates.pay_dates.map{ |d| [ d.pay_date.try(:strftime, '%d-%m-%y') ] }), {prompt: 'Date Paid Start'}, {class: 'form-control'} %>
        </div>
        <div class='col-sm-3'>
          <%= f.select :pd_end, options_for_select(ExpendituresPaydates.pay_dates.map{ |d| [ d.pay_date.try(:strftime, '%d-%m-%y') ] }), {prompt: 'Date Paid End'}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
  </div>
</div>
