<div class='form-group row'>
  <%= f.label :email, 'Email for notification when the report is ready:', class: 'col-sm-5 form-control-label' %>
  <div class='col-sm-10'>
    <%= f.text_field 'email', class: 'form-control', value: "#{user_id}@stanford.edu" %>
  </div>
</div>
<div class='form-group row'>
  <%= f.label :fund_select, 'Select funds for report by:', class: 'col-sm-5 form-control-label'%>
  <div class='col-sm-10'>
    <p><%= f.radio_button :fund_select, 'fund_name_id', {'data-toggle' => 'collapse', 'data-target' => '.fund_name_id', onChange: '$(".collapse").removeClass("in")'} %> Fund ID or name</p>
    <p><%= f.radio_button :fund_select, 'fund_begins_with', {'data-toggle' => 'collapse', 'data-target' => '.fund_begins_with', onChange: '$(".collapse").removeClass("in")'} %> Fund ID begins with</p>
  </div>
</div>
<div class='form-group row'>
  <div class='panel-body fund_name_id collapse'>
    <%= f.label :fund, 'Select one or more funds (click on header to sort):', class: 'col-sm-5 form-control-label'%>
    <div class='table-container col-sm-10 pad'>
      <table class='table table-striped nested'>
        <thead>
          <tr>
            <th class='col-xs-1'>Select fund for report</th>
            <th class='col-xs-1'>Fund ID</th>
            <th class='col-xs-1'>Name</th>
            <th class='col-xs-1'>Old fund ID</th>
            <th class='col-xs-1'>Minimum pay date</th>
            <th class='col-xs-1'>Maximum pay date</th>
          </tr>
        </thead>
        <tbody>
          <% ExpendituresFunds.fund_id.each do |d| %>
          <% if d.fund_name_key.present? %>
          <tr>
            <td><%= f.check_box :fund, {multiple: true, class: 'form-control'}, d.fund_id, false %></td>
            <td><%= d.fund_id %></td>
            <td><%= d.fund_name_key %></td>
            <td><%= d.old_fund_id %></td>
            <td><%= d.min_pay_date.try(:strftime, '%Y-%m-%d') %></td>
            <td><%= d.max_pay_date.try(:strftime, '%Y-%m-%d') %></td>
          </tr>
          <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class='panel-body fund_begins_with collapse'>
    <%= f.label :fund_begin, 'Select funds beginning with:', class: 'col-sm-5 form-control-label'%>
    <div class='col-sm-10'>
      <%= f.select :fund_begin, options_for_select(ExpendituresFunds.fund_begins_with.map{|d| [d.fund_id]}), {prompt: 'Fund ID'}, {class: 'form-control'} %>
    </div>
  </div>
</div>
