<div class='form-group row'>
  <%= f.label :fund_select, 'Select funds for report by:', class: 'col-sm-5 form-control-label'%>
  <div class='col-sm-10'>
    <p><%= f.radio_button :fund_select, 'fund_name_id', {'class'=>'fund_selects', 'data-toggle' => 'collapse', 'data-target' => '.fund_name_id', onChange: '$(".collapse").removeClass("in");$(".all_sul").prop("checked", false);'} %> Fund ID/PTA or name</p>
    <p><%= f.radio_button :fund_select, 'fund_begins_with', {'class'=>'fund_selects', 'data-toggle' => 'collapse', 'data-target' => '.fund_begins_with', onChange: '$(".collapse").removeClass("in");$(".all_sul").prop("checked", false);'} %> Fund ID/PTA begins with</p>
  </div>
</div>
<div class='form-group row'>
  <div class='panel-body fund_name_id collapse'>
    <%= f.label :fund, 'Select one or more funds (click on header to sort):', class: 'col-sm-5 form-control-label'%>
    <div class='table-container col-sm-10 pad'>
      <table class='table table-striped nested' data-order='[[ 2, "asc" ]]' data-paging='false'>
        <thead>
          <tr>
            <th class='col-xs-1'>Select fund for report</th>
            <th class='col-xs-1'>Fund ID/PTA</th>
            <th class='col-xs-1'>Name</th>
            <th class='col-xs-1'>Old Fund ID/PTA</th>
            <th class='col-xs-1'>First payment date</th>
            <th class='col-xs-1'>Last payment date</th>
          </tr>
        </thead>
        <tbody>
          <div id="expend_funds">
          <% if params[:controller] == 'endowed_funds_reports' %>
          <% ExpendituresFunds.fund_id.each do |d| %>
            <% if d.fund_name_key.present? && d.is_endow == 1 %>
            <tr>
              <td><%= f.check_box :fund, {multiple: true, class: 'form-control'}, d.fund_id, false %></td>
              <td><%= d.fund_id %></td>
              <td><%= d.fund_name_key %></td>
              <td><%= d.old_fund_id %></td>
              <td class="min_pay_date"><%= d.min_pay_date.try(:strftime, '%F') %></td>
              <td class="max_pay_date"><%= d.max_pay_date.try(:strftime, '%F') %></td>
            </tr>
            <% end %>
          <% end %>
          <% else %>
          <% ExpendituresFunds.fund_id.each do |d| %>
            <% if d.fund_name_key.present? %>
              <tr>
                <td><%= f.check_box :fund, {multiple: true, class: 'form-control'}, d.fund_id, false %></td>
                <td><%= d.fund_id %></td>
                <td><%= d.fund_name_key %></td>
                <td><%= d.old_fund_id %></td>
                <td class="min_pay_date"><%= d.min_pay_date.try(:strftime, '%F') %></td>
                <td class="max_pay_date"><%= d.max_pay_date.try(:strftime, '%F') %></td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
        </div>
        </tbody>
      </table>
    </div>
  </div>
  <div class='panel-body fund_begins_with collapse'>
    <%= f.label :fund_begin, 'Select funds beginning with:', class: 'col-sm-5 form-control-label'%>
    <div class='col-sm-10'>
      <% if params[:controller] = 'endowed_funds_reports' %>
        <%= f.select :fund_begin, options_for_select(ExpendituresFunds.endow_fund_begins_with.map{|d| [d.fund_id]}), {prompt: 'Fund ID/PTA'}, {class: 'form-control'} %>
      <% else %>
        <%= f.select :fund_begin, options_for_select(ExpendituresFunds.fund_begins_with.map{|d| [d.fund_id]}), {prompt: 'Fund ID/PTA'}, {class: 'form-control'} %>
      <% end %>
    </div>
  </div>
  <div class='col-sm-10'>
    <p> <%= f.radio_button :fund_begin, 'All SUL Funds', class: 'all_sul', onClick: "$('input:radio[class=fund_selects]').each(function () { $(this).prop('checked', false); });$('.collapse').removeClass('in')" %> Select all SUL funds </p>
  </div>
</div>
