<div id="topnav-container">
  <header id="topnav" class="header-logo" role="banner">
    <%= link_to 'http://library.stanford.edu' do %>
    <%= content_tag :span, "Stanford University Libraries", class: "sr-only" %>
    <%= image_tag "sul-logo.png", class: "hidden-xs", alt: "", height: 25 %>
    <%= image_tag "sul-logo-small.png", class: "visible-xs", alt: "", height: 25 %>
    <% end %>

    <div class="header-links" id="login_id" data="<%= user_id %>">
      <% if webauth_user? %>
      <%= "Logged in as #{@current_user_name} (#{user_id})" %>
      <% else %>
      <%= link_to "Login here", login_path(referrer: request.original_url) %>
      <% end %>
    </div>

  </header>
</div>

<div class="topnav-divider">
</div>
