<div class="home-page-section">
  <h1>Edit EDI line with duplicate barcodes</h1>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Vendor</th>
      <th>Invoice Num</th>
      <th>Line Num</th>
      <th>Barcode</th>
    </tr>
    </thead>
    <tbody>
    <% @edi_lin.each do |edi, index| %>
      <%= form_for edi, :url => { :action => 'update_barcode' }, class: 'form-group' do |f| %>
        <tr class='<%= cycle('odd', 'even') %>'>
          <td><%= edi.vend_id %></td>
          <td><%= edi.doc_num %></td>
          <td><%= edi.edi_lin_num.present? ? edi.edi_lin_num.to_i : '' %></td>
          <td><%= f.text_field :new_barcode %></td>
        </tr>
        <%= f.hidden_field :doc_num, value: edi.doc_num %>
        <%= f.hidden_field :vend_id, value: edi.vend_id %>
        <%= f.hidden_field :edi_lin_num, value: edi.edi_lin_num %>
        <%= f.hidden_field :edi_sublin_count, value: edi.edi_sublin_count %>
        <%= f.hidden_field :old_barcode, value: edi.barcode_num %>
        <td><%= f.submit 'Change this barcode', class:'btn btn-primary' %></td>
      <% end %>
    <% end %>
    </tbody>
  </table>
  <div class="btn-group">
    <%= main_menu_button %>
  </div>
  <div class="btn-group">
    <%= edi_menu_button %>
  </div>
</div>
