<div class="home-page-section">
  <h1>EDI lines with duplicate barcodes</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Vendor</th>
        <th>Invoice Num</th>
        <th>Line Num</th>
        <th>Barcode</th>
      </tr>
    </thead>
    <tbody>
    <% @edi_lin.each do |edi| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td><%= radio_button_tag('edi_lin', 'edit', false, onclick: "window.location = '/edi_lins/show/#{edi.barcode_num.present? ? edi.barcode_num.to_i : 'no_barcode'}'") %></td>
        <td><%= edi.vend_id %></td>
        <td><%= edi.doc_num %></td>
        <td><%= edi.edi_lin_num.present? ? edi.edi_lin_num.to_i : '' %></td>
        <td><%= edi.barcode_num.present? ? edi.barcode_num.to_i : '' %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="btn-group">
    <%= main_menu_button %>
  </div>
  <div class="btn-group">
    <%= edi_menu_button %>
  </div>
</div>
