<div>
  <%= label_tag 'Daily visits by cardholder ID:' %>
  <%= text_field_tag('visit_id') %>
  <%= link_to 'Go', '#', :onclick => "window.location.href='/lobbytrack/visits/' + $('#lobbytrack_id').val();", class: 'btn btn-md btn-default' %>
</div>
<div>
  <%= label_tag 'Daily visits on a range of dates:' %>
  <%= date_field_tag('visit_date1', '', data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-today-highlight': true}) %>
  <%= date_field_tag('visit_date2', '', data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-today-highlight': true}) %>
  <%= link_to 'Go', '#', :onclick => "window.location.href='/lobbytrack/visit_dates/' + $('#visit_date1').val() + '/' + $('#visit_date2').val();", class: 'btn btn-md btn-default' %>
</div>
<div>
  <%= label_tag 'Daily check-ins by cardholder ID:' %>
  <%= text_field_tag('checkin_id') %>
  <%= link_to 'Go', '#', :onclick => "window.location.href='/lobbytrack/checkins/' + $('#checkin_id').val();", class: 'btn btn-md btn-default' %>
</div>
<div>
  <%= label_tag 'Daily check-ins on a range of dates:' %>
  <%= date_field_tag('checkin_date1', '', data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-today-highlight': true}) %>
  <%= date_field_tag('checkin_date2', '', data: {provide: 'datepicker', 'date-format': 'yyyy-mm-dd', 'date-today-highlight': true}) %>
  <%= link_to 'Go', '#', :onclick => "window.location.href='/lobbytrack/checkin_dates/' + $('#checkin_date1').val() + '/' + $('#checkin_date2').val();", class: 'btn btn-md btn-default' %>
</div>
