<div class="home-page-section">
  <h1>SUL Staff Web Forms</h1>
  <% if current_user %>
  <h3>What would you like to do?</h3>

  <% if can? :manage, BatchRecordUpdate %>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4><%= link_to "Batch record updates", 'batch_record_updates' %></h4>
    </div>
  </div>
  <% end %>

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% if can? :manage, Sal3BatchRequestsBatch %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            SAL3 Batch Requests
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <ul>
          <li><%= link_to "Place batch request", new_sal3_batch_requests_batch_path %></li>
          <li><%= link_to "Review batches", root_path %></li>
        </ul>
      </div>
    </div>
    <% end %>
    <% if can? :manage, ManagementReport %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            Management Reports
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <%= render template: "management_reports/index" %>
      </div>
    </div>
    <% end %>
  </div>
  <% else %>
  <%= link_to "Login here", login_path(referrer: request.original_url) %>
  <% end %>
</div>
