<% content_for :javascript_includes do %>
  <%= javascript_include_tag "expenditure_reports.js" %>
<% end %>
<h2>LIB Expenditure Report Request</h2>
<%= form_for @expenditure_report, multipart: true, class: 'form-group' do |f| %>
<% if @expenditure_report.errors.any? %>
<div id='error-explanation'>
  <ul>
    <% @expenditure_report.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <%= render 'shared/enter_email', f: f %>
  <%= render 'shared/funds_selection', f: f %>
  <%= render 'shared/date_range_selection', f: f %>
  <%= render 'shared/ckey_link', f: f %>

  <%= f.hidden_field :status, value: 'REQUEST' %>
  <%= f.hidden_field :output_file, value: "exp_rpt#{Time.new.to_i}" %>
  <%= f.hidden_field :message, value: nil %>
  <%= f.hidden_field :path_invlin_fund_keys, value: nil %>
  <%= f.hidden_field :date_request, value: l(Time.now.getlocal, format: :oracle) %>
  <%= f.hidden_field :date_ran, value: nil %>

  <div class='pad'><%= f.submit 'Submit request', class: 'btn btn-md btn-default  btn-full' %></div><br/>

  <% end %>
  <div class='btn-group'>
    <%= link_to 'Main menu', root_path, id: 'main-menu-button', class: 'btn btn-md btn-primary btn-full'  %>
  </div>
</div>
