<ul>
  <li><%= link_to "Circulation Statistics Report", new_circulation_statistics_report_path %></li>
  <li><%= link_to "LIB Expenditures Report", new_expenditure_report_path %></li>
  <li><%= link_to "Shelf Selection Report", new_shelf_selection_report_path %></li>
  <li><%= link_to "LIB Expenditures with Circ Stats Report", new_expenditures_with_circ_stats_report_path %></li>
  <li><%= link_to "LIB Open Orders Report", new_encumbrance_report_path %></li>
  <li><%= link_to "Endowed Funds Report (for year-end donor letters)", new_endowed_funds_report_path %></li>
  <!--<li><%= link_to "Google Selection Report", 'google_selection_report' %> (coming soon)</li>-->
</ul>
