<ul>
  <li><%= link_to "Circulation Statistics Report", 'circulation_statistics_report' %></li>
  <li><%= link_to "Expenditures Report", new_expenditure_report_path %></li>
  <li><%= link_to "Shelf Selection Report", new_shelf_selection_report_path %></li>
  <li><%= link_to "Expenditures with Circ Stats Report", new_expenditures_with_circ_stats_report_path %></li>
  <li><%= link_to "Encumbrances Report", new_encumbrance_report_path %></li>
  <li><%= link_to "Endowed Funds Report", 'endowed_funds_report' %></li>
  <li><%= link_to "Google Selection Report", 'google_selection_report' %> (coming soon)</li>
</ul>
