<div class="modal-header">
   <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
   <h3 id="addAuthorizedUser" class="modal-title">Add a user</h3>
</div>
<div class="modal-body">
    <%= form_for @authorized_user, class: 'form-group', :url => {
                                      :action => :create,
                                      :controller => :authorized_users
                                      } do |f| %>
    <table class="table table-striped table-hover">
      <tr>
        <th>SUNet ID</th>
        <td><%= f.text_field :user_id %></td>
      </tr>
      <tr>
          <th>Name</th>
        <td><%= f.text_field :user_name %></td>
      </tr>
      <% @authorized_user.attributes.each do |k,v| %>
          <% if administrator_apps(current_user).include?(k) %>
            <tr>
              <td><%= apps_translation(k) %></td>
              <td><%= f.check_box(k, {}, 'Y', '') %></td>
            </tr>
          <% end %>
      <% end %>
    </table>
    <div class="modal-footer">
      <div class="btn-group">
        <%= f.submit 'Submit', class: 'btn btn-md btn-default btn-full' %>
        <button class='btn btn-md btn-default btn-full' data-dismiss="modal" aria-hidden="true">Cancel</button>
      </div>
    </div>
    <% end %>

</div>
