<h2>Edit Authorized User</h2>
<div class="div-table">
  <%= form_for @edit, class: 'form-group',
      :url => {
        :action => :update,
        :controller => :authorized_users,
        :user_id => params[:user_id]
        } do |f| %>
  <%= render partial: 'authorized_user_header' %>
  <div class="div-table-body">
    <div class="div-table-row">
      <% if current_user.user_id == @edit.user_id %>
        <div class="div-table-cell">
          <%= user_id %>
        </div>
      <% else %>
        <div class="div-table-cell">
          <%= f.text_field :user_id %>
        </div>
      <% end %>
      <div class="div-table-cell">
        <%= f.text_field :user_name %>
      </div>
      <!-- disable checkbox if the value is 'A' -->
      <% @edit.attributes.each do |k,v| %>
        <% if administrator_apps(current_user).include?(k) %>
          <% if v == 'A' %>
            <div class="div-table-cell">
              <%= check_box_tag(k, v, v, disabled: true) %>
            </div>
          <% else %>
          <div class="div-table-cell">
            <%= f.check_box(k, {}, "Y", "") %>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="btn-group">
    <%= f.submit 'Submit', class: 'btn btn-md btn-default btn-full' %>
    <%= button_tag t('buttons.cancel'), type: "submit", name: "cancel", value: true, class: 'btn btn-md btn-default btn-full' %>
  </div>
  <% end %>
</div>
<% if administrator_apps(@edit).empty? && authorized_apps(@edit).empty? %>
<!-- only allow delete user if user is not an admin user for any app and user does not have current access to any apps -->
<div class="btn-group">
  <%= button_to 'Delete User', { action: :delete,
                                 user_id: @edit.user_id },
                                method: :delete,
                                class: 'btn btn-md btn-primary btn-full' %>
</div>
<% end %>
