<h1>Editing Accession Number</h1>

<%= render 'form' %>



<%= link_to 'Show', @accession_number, class: 'btn btn-md btn-default btn-full' %>
<%= link_to 'Cancel', accession_numbers_path, class: 'btn btn-md btn-default btn-full' %>


<div class="btn-group">
  <%= main_menu_button %>
  <%= accession_menu_button %>
</div>
