<% content_for :javascript_includes do %>
    <%= javascript_include_tag "sal3_batch_requests.js" %>
<% end %>
<h2>Manage SAL3 Batch Request</h2>
<p><span class='small'>* = required field</span></p>
<%= form_for @sal3_batch_requests_batch, class: 'form-group' do |f| %>
<% if @sal3_batch_requests_batch.errors.any? %>
<div id="error-explanation">
  <ul>
    <% @sal3_batch_requests_batch.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <h3><%= f.object.batch_name %></h3>
  <div class="panel-group" id="media_group">
    <div class='form-group row'>
      <%= f.label :user_email, class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.text_field 'user_email', class: 'form-control', value: f.object.user_email %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :user_phone, class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.text_field 'user_phone', class: 'form-control', value: f.object.user_phone %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :status, class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.select :status, Sal3BatchRequestsBatch.status, {}, {size: 3, class: 'form-control'} %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :priority, "Priority", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.select :priority, Sal3BatchRequestsBatch.priority, {}, {size: 3, class: 'form-control'} %>
        <div class='small'>
          Batches default to priority=3 when submitted. If this batch should be pulled before other batches, set priority to 1.
        </div>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :batch_numpullperday, "Items to pull per day*", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.text_field :batch_numpullperday %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :stopcode, "Select delivery location", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.select :stopcode, Sal3BatchRequestsBatch.locations, {}, {size: 6, class: 'form-control'} %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :batch_startdate, "Delivery start date:*", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.date_field 'batch_startdate', as: :date, class: 'form-control',
            value: f.object.batch_startdate.nil? ? '' : f.object.batch_startdate.strftime('%F') %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label "Requested delivery days:*", class: 'col-sm-2 form-control-label' %>
      <ul class='col-sm-10'>
        <li>
          <%= f.label :batch_pullmon, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullmon', class: 'form-control' %>
          Monday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pulltues, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pulltues', class: 'form-control' %>
          Tuesday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pullwed, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullwed', class: 'form-control' %>
          Wednesday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pullthurs, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullthurs', class: 'form-control' %>
          Thursday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pullfri, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullfri', class: 'form-control' %>
          Friday
          <% end %>
        </li>
      </ul>
      <ul class='col-sm-10 indent2'>
        <li class='small'>Requests must be submitted by 11am for next business day delivery.</li>
      </ul>
    </div>
    <div class='form-group row'>
      <%= f.label :comments, 'Comments or instructions for SAL3 staff', class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.text_area 'comments', class: 'form-control' %>
      </div>
    </div>
  </div>
  <div><%= f.submit 'Submit edit', class: 'btn btn-md btn-default  btn-full' %></div><br/>
</div>
<% end %>
<div class="btn-group">
  <%= link_to 'Review batches', sal3_batch_requests_batches_path, class: 'btn btn-primary' %>
</div>
<div class="btn-group">
  <%= link_to 'Download barcodes file', download_sal3_batch_requests_batch_path(@sal3_batch_requests_batch), class: 'btn btn-default', target: '_blank', onclick: "alert('Downloading file: #{@sal3_batch_requests_batch[:bc_file]}');" %>
</div>
