<h2>SAL3 Batch Requests</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='col-xs-1'></th>
      <th class='col-xs-2'>Date needed</th>
      <th class='col-xs-3'>Name or short description</th>
      <th class='col-xs-4'>Stop code</th>
      <th class='col-xs-5'>No. of items requested</th>
      <th class='col-xs-6'>Status</th>
      <th class='col-xs-7'>Multiple requests in batch?</th>
      <th class='col-xs-8'>Date requested</th>
      <th class='col-xs-9'></th>
    </tr>
  </thead>
  <tbody>
    <% @sal3_batch_requests_batches.each do |batch| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td class='col-xs-1'><%= link_to 'Batch details', sal3_batch_requests_batch_path(batch), class: 'btn btn-default' %></td>
        <td class='col-xs-2'><%= batch.batch_needbydate.strftime('%x') %></td>
        <td class='col-xs-3'><%= batch.batch_name %></td>
        <td class='col-xs-4'><%= batch.stopcode %></td>
        <td class='col-xs-5'><%= batch.num_bcs %></td>
        <td class='col-xs-6'><%= batch.status %></td>
        <td class='col-xs-7'><%= batch.num_bcs > batch.batch_numpullperday %></td>
        <td class='col-xs-8'><%= batch.load_date %></td>
        <td class='col-xs-9'><%= link_to 'Manage batch request', edit_sal3_batch_requests_batch_path(batch), class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Main menu', root_path, class: 'btn btn-primary' %>
