<h2>SAL3 Batch Requests</h2>
<table class="table table-striped">
  <thead>
    <div>
      <span><%= link_to 'All days', {controller: 'sal3_batch_requests_batches', action: 'index'}, class: 'btn btn-default'  %></span>&nbsp;
      <span><%= link_to 'Mondays', {controller: 'sal3_batch_requests_batches', action: 'index', :pullmon => '1'}, class: 'btn btn-default' %></span>&nbsp;
      <span><%= link_to 'Tuesdays', {controller: 'sal3_batch_requests_batches', action: 'index', :pulltues => '1'}, class: 'btn btn-default'  %></span>&nbsp;
      <span><%= link_to 'Wednesdays', {controller: 'sal3_batch_requests_batches', action: 'index', :pullwed => '1'}, class: 'btn btn-default'  %></span>&nbsp;
      <span><%= link_to 'Thursdays', {controller: 'sal3_batch_requests_batches', action: 'index', :pullthurs => '1'}, class: 'btn btn-default'  %></span>&nbsp;
      <span><%= link_to 'Fridays', {controller: 'sal3_batch_requests_batches', action: 'index', :pullfri => '1'}, class: 'btn btn-default'  %></span>
    </div>
    <tr>
      <th></th>
      <th>Date needed</th>
      <th>Name or short description</th>
      <th>Stop code</th>
      <th>No. of items requested</th>
      <th>Status</th>
      <th>Multiple pulls for batch?</th>
      <th>Date requested</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @sal3_batch_requests_batches.each do |batch| %>
      <tr class='<%= cycle("odd", "even") %>'>
        <td><%= link_to 'Batch details', sal3_batch_requests_batch_path(batch), class: 'btn btn-default' %></td>
        <td><%= batch.batch_needbydate.present? ? batch.batch_needbydate.strftime('%x') : '' %></td>
        <td><%= batch.batch_name %></td>
        <td><span style='cursor: pointer' data-toggle='tooltip' data-placement='bottom' title="<%= Sal3BatchRequestsBatch.locations.index(batch.stopcode) %>"><%= batch.stopcode %></span></td>
        <td><%= batch.num_bcs %></td>
        <td><%= batch.status %></td>
        <td><%= batch.num_bcs.to_i > batch.batch_numpullperday.to_i ? 'Yes' : 'No' %></td>
        <td><%= batch.load_date.present? ? batch.load_date.strftime('%x') : '' %></td>
        <td>
          <% if can? :update, Sal3BatchRequestsBatch %>
            <%= link_to 'Manage batch request', edit_sal3_batch_requests_batch_path(batch), class: 'btn btn-primary' %>
         <% end %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'Main menu', root_path, class: 'btn btn-primary' %>
