<% content_for :javascript_includes do %>
    <%= javascript_include_tag "sal3_batch_requests.js" %>
<% end %>
<h2>New SAL3 Batch Request</h2>
<%= form_for @sal3_batch_requests_batch, multipart: true, class: 'form-group' do |f| %>
<% if @sal3_batch_requests_batch.errors.any? %>
<div id="error-explanation">
  <ul>
    <% @sal3_batch_requests_batch.errors.messages.values.each do |msg| %>
    <li><%= msg.join %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <h3>Requester information</h3>
  <p><span class='small'>* = required field</span></p>
  <p><span class='small'>This will be used by SAL3 staff to contact you if they have questions about your batch request:</span></p>
  <div class='form-group row'>
    <%= f.label :user_name, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'user_name', class: 'form-control', value: "#{@current_user_name}" %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :user_email, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'user_email', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :user_phone, class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'user_phone', class: 'form-control' %>
    </div>
  </div>
</div>
<div>
  <h3>Batch information</h3>
  <div class='form-group row'>
    <%= f.label :batch_name, "Name or short description", class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'batch_name', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :pseudo_id, "User ID to charge items in Symphony*", class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'pseudo_id', class: 'form-control' %>
    </div>
  </div>
  <div class="panel-group" id="media_group">
    <div class='form-group row'>
      <%= f.label :stopcode, "Select delivery location", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.select :stopcode, options_for_select(Sal3BatchRequestsBatch.locations.map{|s| [s[0], s[1], {'title'=>"STOP-CODE: #{s[1]}", 'data-toggle'=>'tooltip'}]}), {}, {size: 6, selected: 'none', class: 'form-control'} %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :batch_media, "Media type", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.select :batch_media, options_for_select(Sal3BatchRequestsBatch.batch_media.map{ |v, k| [ k[1],k[0], {'data-toggle' => 'collapse', 'data-parent' => '#media_group', 'data-target' => "\.#{v}"} ] }), {}, {size: 11, class: 'form-control', onChange: '$(".collapse").removeClass("in")'} %>
      </div>
    </div>
    <div class='form-group row panel-collapse collapse archival film magnetic optical unknown'>
      <div class="panel-body">
        <div class='form-group row'>
          <%= f.label :batch_container, "Container", class: 'col-sm-1 form-control-label' %>
          <div class='col-sm-10'>
            <%= f.select :batch_container, Sal3BatchRequestsBatch.batch_container, {}, {size: 4, class: 'form-control'} %>
          </div>
        </div>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :batch_numpullperday, "Items to pull per day:", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.text_field 'batch_numpullperday', value: '10', class: 'form-control' %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :batch_startdate, "Delivery start date:*", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.date_field 'batch_startdate', id: 'dp1', class: 'form-control', value: Time.now.strftime('%Y-%m-%d') %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label :batch_needbydate, "All items delivered by:*", class: 'col-sm-2 form-control-label' %>
      <div class='col-sm-10'>
        <%= f.date_field 'batch_needbydate', id: 'dp2', class: 'form-control', value: "#{6.months.from_now.strftime('%Y-%m-%d')}" %>
      </div>
    </div>
    <div class='form-group row'>
      <%= f.label "Requested delivery days:*", class: 'col-sm-2 form-control-label' %>
      <ul class='col-sm-10'>
        <li>
          <%= f.label :batch_pullmon, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullmon', class: 'form-control' %>
          Monday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pulltues, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pulltues', class: 'form-control' %>
          Tuesday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pullwed, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullwed', class: 'form-control' %>
          Wednesday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pullthurs, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullthurs', class: 'form-control' %>
          Thursday
          <% end %>
        </li>
        <li>
          <%= f.label :batch_pullfri, class: 'col-sm-1 indent' do %>
          <%= f.check_box 'batch_pullfri', class: 'form-control' %>
          Friday
          <% end %>
        </li>
      </ul>
      <ul class='col-sm-10 indent2'>
        <li class='small'>Requests must be submitted by 11am for next business day delivery.</li>
      </ul>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :bc_file, 'Upload barcode file*', class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.file_field 'bc_file', class: 'form-control-file' %>
      <span class='small'>Plain text file. Use Notepad or TextWrangler. One barcode per line. No punctuation.</span>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :comments, 'Comments or instructions for SAL3 staff', class: 'col-sm-2 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_area 'comments', class: 'form-control' %>
    </div>
  </div>
  <%= f.hidden_field :user_sunetid, value: current_user.user_id %>
  <%= f.hidden_field :ckey, value: '' %>
  <%= f.hidden_field :priority, value: 3 %>
  <%= f.hidden_field :status, value: 'NEW' %>
  <%= f.hidden_field :num_nonsymph_bcs, value: '' %>
  <%= f.hidden_field :num_retrieval_err, value: '' %>
  <%= f.hidden_field :pending, value: 'Y' %>
  <div><%= f.submit 'Submit request', class: 'btn btn-md btn-primary btn-full' %></div><br/>
</div>
<% end %>
<div class="btn-group">
  <%= main_menu_button %>
</div>
