<h2>SAL3 Batch Request <%=@sal3_batch_requests_batch.id%></h2>
<dl class='dl-horizontal'>
  <dt><strong>User Name</strong></dt>
  <dd><%= @sal3_batch_requests_batch.user_name %></dd>
  <dt><strong>Email</strong></dt>
  <dd><%= @sal3_batch_requests_batch.user_email %></dd>
  <dt><strong>Phone</strong></dt>
  <dd><%= @sal3_batch_requests_batch.user_phone %></dd>
  <dt><strong>Description</strong></dt>
  <dd><%= @sal3_batch_requests_batch.batch_name %></dd>
  <dt><strong>User ID to charge items</strong></dt>
  <dd><%= @sal3_batch_requests_batch.pseudo_id %></dd>
  <dt><strong>Delivery location</strong></dt>
  <dd><%= @sal3_batch_requests_batch.stopcode %></dd>
  <dt><strong>Media type</strong></dt>
  <dd><%= @sal3_batch_requests_batch.batch_media %></dd>
  <dt><strong>Container type</strong></dt>
  <dd><%= @sal3_batch_requests_batch.batch_container %></dd>
  <dt><strong>Status</strong></dt>
  <dd><%= @sal3_batch_requests_batch.status %></dd>
  <dt><strong>Priority</strong></dt>
  <dd><%= @sal3_batch_requests_batch.priority %></dd>
  <dt><strong>Number of barcodes</strong></dt>
  <dd><%= @sal3_batch_requests_batch.num_bcs %></dd>
  <dt><strong>Items to pull per day</strong></dt>
  <dd><%= @sal3_batch_requests_batch.batch_numpullperday %></dd>
  <dt><strong>Delivery start date</strong></dt>
  <dd><%= @sal3_batch_requests_batch.batch_startdate.strftime('%d-%^b-%y') %></dd>
  <dt><strong>All items deliverd by</strong></dt>
  <dd><%= @sal3_batch_requests_batch.batch_needbydate.strftime('%d-%^b-%y') %></dd>
  <dt><strong>Delivery days</strong></dt>
  <dd>Mon: <%= @sal3_batch_requests_batch.batch_pullmon %></dd>
  <dd>Tues: <%= @sal3_batch_requests_batch.batch_pulltues %></dd>
  <dd>Wed: <%= @sal3_batch_requests_batch.batch_pullwed %></dd>
  <dd>Thurs: <%= @sal3_batch_requests_batch.batch_pullthurs %></dd>
  <dd>Fri: <%= @sal3_batch_requests_batch.batch_pullfri %></dd>
  <dt><strong>Comments</strong></dt>
  <dd><%= @sal3_batch_requests_batch.comments %></dd>
</dl>
<% if can? :update, Sal3BatchRequestsBatch %>
  <%= link_to 'Manage this batch request', edit_sal3_batch_requests_batch_path(@sal3_batch_requests_batch), class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Show all Batches', sal3_batch_requests_batches_path, class: 'btn btn-default' %>
