<h1>Ckey to Bibframe2 Conversion</h1>
<div class="btn-group">
  <%= conversion_button %>
</div>
<h3>MarcXML for ckey <%= @ckey2bibframe.ckey %></h3>
<pre>
  <%= @ckey2bibframe.marc21_to_xml %>
</pre>
<h3>Bibframe2 for ckey <%= @ckey2bibframe.ckey %></h3>
<pre>
  <%= @ckey2bibframe.marcxml_to_bibframe %>
</pre>
<div class="btn-group">
  <%= conversion_button %>
</div>
<p></p>
<div class="btn-group">
  <%= main_menu_button %>
</div>
