<div id="upload-batch-menu" class="panel-body">
  <h5>Choose the type of batch record update you wish to do:</h5>
  <li><%= link_to "Transfer some items between libraries", 'transfer_request_form' %></li>
  <li><%= link_to "Withdraw some items", new_withdraw_item_path %></li>
  <li><%= link_to "Change home location (and item type if desired) for some items", new_change_home_location_path %></li>
  <li><%= link_to "Change current location for some items", new_change_current_location_path %></li>
  <li><%= link_to "Change item type for some items", new_change_item_type_path %></li>
</div>
