<% content_for :javascript_includes do %>
  <%= javascript_include_tag "batch_record_updates.js" %>
<% end %>
<h3>MHLD Errors for Batch: <%= params[:batch_number] %></h3>
<table class="table">
  <thead>
    <tr>
      <th class='col-xs-1'>Batch</th>
      <th class='col-xs-2'>Action</th>
      <th class='col-xs-3'>Orig Lib</th>
      <th class='col-xs-4'>New Lib</th>
      <th class='col-xs-5'>New Homeloc</th>
    </tr>
  </thead>
  <tbody>
    <tr class='<%= cycle('odd', 'even') %>'>
      <% @uni_updates_batch.each do |b| %>
      <td class='col-xs-1'><%= b.batch_id %></td>
      <td class='col-xs-2'><%= b.action %></td>
      <td class='col-xs-3'><%= b.orig_lib %></td>
      <td class='col-xs-4'><%= b.new_lib %></td>
      <td class='col-xs-5'><%= b.new_homeloc %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% if @uni_mhld_errors.exists? %>
  <% flash[:warning] = 'There are errors for this batch!' %>
<h4>Errors:</h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th class='col-xs-1'>Flex</th>
      <th class='col-xs-2'>Error</th>
      <th class='col-xs-3'>Format</th>
      <th class='col-xs-4'>Old Lib</th>
      <th class='col-xs-4'>New Lib</th>
      <th class='col-xs-4'>New Loc</th>

    </tr>
  </thead>
  <tbody>
    <tr class='<%= cycle('odd', 'even') %>'>
      <% @uni_mhld_errors.each do |b| %>
      <td class='col-xs-1'><%= b.flex %></td>
      <td class='col-xs-2'><%= b.err_msg %></td>
      <td class='col-xs-3'><%= b.format %></td>
      <td class='col-xs-4'><%= b.old_lib %></td>
      <td class='col-xs-4'><%= b.new_lib %></td>
      <td class='col-xs-4'><%= b.new_loc %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <% flash[:notice] = 'There are no errors for this batch.' %>
<% end %>
<div class="btn-group">
  <%= main_menu_button %>
  <%= batch_menu_button %>
</div>
