<% content_for :javascript_includes do %>
  <%= javascript_include_tag "batch_record_updates.js" %>
<% end %>
<div class="home-page-section">
  <h1>Batch Record Updates</h1>
  <% if current_user %>
  <h3>What would you like to do? </h3>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% if /[AY]/ === current_user.unicorn_updates %>
     <div class="panel panel-default">
       <div class="panel-heading" role="tab" id="headingOne">
         <h4 class="panel-title">
           <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
             Upload a batch
           </a>
         </h4>
       </div>
       <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
         <%= render partial: 'upload_batch_menu' %>
       </div>
     </div>
     <% end %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Show queue
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
        <%= render partial: 'show_queue_menu' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Show Batch errors
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingThree">
        <%= render partial: 'show_batch_errors' %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingThree">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            Show MHLD errors
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse in " role="tabpanel" aria-labelledby="headingThree">
        <%= render partial: 'show_mhld_errors' %>
      </div>
    </div>
  </div>
</div>
<div class="btn-group">
  <%= main_menu_button %>
</div>
<% else %>
<p><%= link_to "Please login", root_path %></p>
<% end %>
</div>
