<h2>Circulation Statistics Report Request</h2>
<%= form_for @circulation_statistics_report, multipart: true, class: 'form-group' do |f| %>
<% if @circulation_statistics_report.errors.any? %>
<div id="error_explanation">
  <ul>
    <% @circulation_statistics_report.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
<div>
  <div class='form-group row'>
    <%= f.label :email, 'Email for notification when the report is ready:', class: 'col-sm-5 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.text_field 'email', class: 'form-control' %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :lib_array, 'Select libraries to collect stats for:', class: 'col-sm-5 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.select :lib_array, UniLibsLocs.libraries, {}, {multiple: true, size: 6, selected: 'none', class: 'form-control'} %>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :source, 'Select from:', class: 'col-sm-3 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.radio_button :source, 'All of Symphony', checked: true %> All of Symphony<br />
      <%= f.radio_button :source, 'Google candidates (standard barcode)' %> Google candidates (standard barcode)<br />
      <%= f.radio_button :source, 'Google candidates (auto-barcode)' %> Google candidates (auto-barcode)<br />
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :range_type, 'Type of selection of records to include in the report: (See examples of call number options below)', class: 'col-sm-7 form-control-label' %>
    <div class='col-sm-10'>
      <%= f.radio_button :range_type, 'lc', checked: true %> LC Letters Range: All LC call numbers beginning with specified letter(s) or range of letters<br />
      <%= f.radio_button :range_type, 'classic' %> Classic Selection: LC numerical range all beginning with same letter(s), or any range of Dewey numbers<br />
      <%= f.radio_button :range_type, 'other' %> Other call numbers: All that are neither LC nor Dewey, optionally filtered by start of call number<br />
      <%= f.radio_button :range_type, 'barcodes' %> Upload a barcode list (Any call numbers. "Library" and "Select from" options on this page ignored)<br />
    </div>
  </div>
  <p class='classic-call-alpha-label' style='display:none;'>Enter the LC or Dewey call number range you want circulation statistics for.</p>
  <div class='form-group row'>
    <%= f.label :call_alpha, '1 to 3 letters at start of LC call number. Leave blank for Dewey. Letters only.', { class: 'classic-call-alpha-label', style: 'display:none;' } %>
    <div class='col-md-1'>
      <%= f.text_field :call_alpha, { maxlength: 2, class: 'form-control', id: 'classic-call-alpha-form-element', style: 'display:none;' } %><br/>
    </div>
  </div>
  <div class='form-group row'>
    <p class='lc-call-lo-label'>Enter a letter or range of letters for circulation statistics on all LC call numbers beginning with the letter(s).</p>
    <%= f.label :call_lo, 'Lowest letter(s) of LC call number range. One or two letters required or one letter followed by # symbol.', { class: 'lc-call-lo-label' } %>
    <%= f.label :call_lo, 'Lowest number of call number range. Maximum 4 digits for LC, 3 digits for Dewey. Digits only, no decimal.', { id: 'classic-call-lo-label', style: 'display:none;' } %>
    <div class='col-md-1'>
      <%= f.text_field :call_lo, maxlength: 2, class: 'form-control', id: 'lc-classic-call-lo-form-element' %><br/>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :call_hi, 'Highest letter(s) of LC call number range. Same number of letters as in first field, or leave blank for only letter(s) in first field.', id: 'lc-call-hi-label' %>
    <%= f.label :call_hi, 'Highest number of call number range. All decimal extensions of entered number will be included in report. Digits only, no decimal.', { id: 'classic-call-hi-label', style: 'display:none;' } %>
    <%= f.label :call_hi, 'Enter start of call number for all non-LC/Dewey call numbers starting with that (not case sensitive). Leave blank to select all.', { id: 'other-call-hi-label', style: 'display:none;' } %>
    <div class='col-md-1'>
      <%= f.text_field :call_hi, { maxlength: 2, class: 'form-control', id: 'lc-classic-other-call-hi-form-element' } %><br/>
    </div>
  </div>
  <div class='form-group row'>
    <%= f.label :barcodes, 'Barcodes to upload:', { class: 'col-sm-2 form-control-label', id: 'barcodes-label', style: 'display:none;' } %>
    <div class='col-md-1'>
      <%= f.file_field :barcodes, { class: 'form-control-file', id: 'bardoces-form-element', style: 'display:none;' } %><br/>
    </div>
  </div>
  <div><%= f.submit 'Submit request', class: 'btn' %></div><br/>
</div>
<% end %>
<div class="btn-group">
  <%= main_menu_button %>
</div>
<h4>Call number range examples for LC Letters Range:</h4>
<div>
  <table class='table table-bordered'>
    <tbody>
      <tr>
        <td>H</td>
        <td></td>
        <td>selects all LC call numbers starting with H (including HA, HB, etc.)</td>
      </tr>
      <tr>
        <td>H#</td>
        <td></td>
        <td>selects all LC call numbers starting with H followed by digit or cutter, <strong>not</strong> HA, HB, etc. (<em>Same as Classic Selection H 0 9999 below</em>)</td>
      </tr>
      <tr>
        <td>H</td>
        <td>K</td>
        <td>selects all LC call numbers starting with H, I, J or K</td>
      </tr>
      <tr>
        <td>HB</td>
        <td></td>
        <td>selects all LC call numbers starting with HB (<em>Same as Classic Selection HB 0 9999 below</em>)</td>
      </tr>
      <tr>
        <td>HB</td>
        <td>HD</td>
        <td>selects all LC call numbers starting with HB, HC or HD</td>
      </tr>
      <tr>
        <td>A</td>
        <td>Z</td>
        <td>selects all LC call numbers</td>
      </tr>
      <tr>
        <td class='text-danger'>H#</td>
        <td class='text-danger'>HC</td>
        <td class='text-danger'>NOT ALLOWED. With # used in first input field, second field must be empty.</td>
      </tr>
      <tr>
        <td class='text-danger'>HB</td>
        <td class='text-danger'>JA</td>
        <td class='text-danger'>NOT ALLOWED. With 2 letters in each input field, both fields must have the same first letter.</td>
      </tr>
      <tr>
        <td class='text-danger'>H</td>
        <td class='text-danger'>HD</td>
        <td class='text-danger'>NOT ALLOWED. Can't have one letter in one field and two letters in the other field.</td>
      </tr>
    </tbody>
  </table>
  <h4>Call number range examples for Classic Selection: </h4>
  <div>
    <table class='table table-bordered'>
      <tbody>
        <tr>
          <td>H</td>
          <td>0</td>
          <td>9999</td>
          <td>selects all LC call numbers starting with H followed by digit or cutter (<em>Does NOT include call starting HA, HB, etc</em>)</td>
        </tr>
        <tr>
          <td>HB</td>
          <td>120</td>
          <td>2000</td>
          <td>selects all LC call numbers from HB120 to HB2000.9999</td>
        </tr>
        <tr>
          <td>HB</td>
          <td>0</td>
          <td>9999</td>
          <td>selects all LC call numbers starting with HB (<em>Same as LC Letters Range HB above</em>)</td>
        </tr>
        <tr>
          <td></td>
          <td>382</td>
          <td>499</td>
          <td>selects all Dewey call numbers from 382 to 499.9999</td>
        </tr>
        <tr>
          <td></td>
          <td>0</td>
          <td>999</td>
          <td>selects all Dewey call numbers</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div>HB to HC is not possible with Classic Selection. Use LC Letters Range for selections like that.</div>
