<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="description" content="Stanford University Libraries - LibSys Web Form" />

  <title>LibsysWebforms</title>
  <link href="https://www.stanford.edu/su-identity/css/su-identity.css" rel="stylesheet">
  <link rel="stylesheet" href="https://sul-cdn.stanford.edu/sul_styles/0.5.0/sul-icons.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.26.2/js/jquery.tablesorter.js" %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>
    <!--[if lt IE 9]> <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <!--[if IE 8]> <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie8.css" /> <![endif]-->
    <!--[if IE 7]> <link rel="stylesheet" type="text/css" href="https://www.stanford.edu/su-identity/css/ie/ie7.css" /> <![endif]-->
</head>
<body>

  <div id="su-wrap"> <!-- #su-wrap start -->
        <div id="su-content"> <!-- #su-content start -->
          <div id="outer-container" class="container-fluid">
            <%= render 'shared/top_navbar' %>
            <section id="main-container" role="main">
              <%= render 'shared/flashes' %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

      <%= render 'shared/sul_footer' %>

</body>
</html>
