<h1>Userload Rerun</h1>
<h3>Instructions</h3>
<ul>
  <li>Pick a date to rerun the userload errors.</li>
  <li>The rerun date cannot be today's date and it cannot be more than a week old.</li>
  <li>Wait for the receipt of the "ZZ Userload Rerun Report" email before submitting another userload rerun for a
  different date.</li>
  <li>The userload rerun runs every 10 minutes past the hour.</li>
</ul>
<%= form_for(@userload_rerun) do |f| %>
  <% if @userload_rerun.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% @userload_rerun.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rerun_date %><br>
    <%= f.date_field(:rerun_date, value: params[:rerun_date] || Time.zone.yesterday,
                     'data-behavior': 'rerun-date-picker',
                                      min: 1.week.ago,
                                      max: Time.zone.yesterday) %>
  </div>
  <p>
  <div class="btn-group">
    <%= f.submit 'Rerun userload for this date', class: 'btn btn-md btn-default btn-full' %>
  </div>

<% end %>
<p>
<div class="btn-group">
  <%= main_menu_button %>
</div>
